.Container {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
}

.Container label {
  font-size: 0.8rem;
  height: 1rem;
}

.Container input {
  height: 2rem;
  width: 13.5rem;
  margin-right: 2rem;
  box-sizing: content-box;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
