.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 40%;
  height: 90%;
  border: 1px solid #ccc;
  box-shadow: 0 0px 2px black;
  padding: 1rem;
  left: 25%;
  top: 5%;
  transition: all 0.3s ease-in-out;
}
