.PhoneItemList {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.PhoneItemListGrid {
  height: 577px;
  width: 100%;
  margin: 0 3rem;

  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 400px auto 20vw;
  background-color: #fff;
}

.PhoneContainer {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
}

.ImgContainer {
  background-color: #fff;
  width: 25rem;
  height: 20rem;
}

.ImgContainer img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
}

.PhoneTitleContainer {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.PhoneTitleContainer p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #999;
  padding: 0 2rem;
  margin-top: 2rem;
}

.PhoneStats {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem 3rem 4rem 4rem;
}

.PhoneStats h2 {
  margin-top: 3rem;
  height: 4rem;
}

.PhoneStat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  height: 5rem;
}

.PhoneStat p {
  font-size: 1rem;
  padding-top: 0.5rem;
  color: #999;
}

.PhoneStat h3 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.SearchBox {
  font-size: 1rem;
  background-color: #f3f3f3;
  height: 18rem;
  width: 20vw;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.SearchBox h3 {
  margin-top: 2rem;
}

.BackToStore {
  width: 11rem;
  border: none;
  border-radius: 2rem;
  height: 6rem;
  background-color: #43abc9;
  margin-bottom: 2rem;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 1.25rem;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.CartBox {
  width: 100%;
  height: 9rem;
  text-decoration: none;
  color: #fff;
  background-color: #43abc9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  width: 11rem;
  border-radius: 2rem;
  margin: 0;
  font-size: 1.2rem;
  text-decoration: none;
  margin-bottom: 1rem;
  height: 6rem;
  color: #fff;
  background-color: #43abc9;
  border: none;
  outline: none;
  cursor: pointer;
}
